<ng-template appPlaceholder></ng-template>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
        <div *ngIf="isLoading" class="loading-spinner">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" ngModel required email/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ngModel required minlength="6" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign up'}}
                </button>
                <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
                    Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}
                </button>
            </div>
        </form>
    </div>
</div>